*.[ao]
*.d
*.so
*.swp
*.log
*.diff
*.patch
*.vp*
CVS*
make_tarball.sh
deps
projects/rscriptd/On*
projects/stargazer/On*
projects/stargazer/stargazer.conf
projects/stargazer/stargazer
projects/stargazer/rules
projects/stargazer/subnets
projects/stargazer/conf.d
projects/stargazer/var
stglibs/smtp.lib
stglibs/crypto.lib/blowfish.c
Makefile.conf
projects/convertor/convertor
projects/rscriptd/rscriptd
projects/sgconf/sgconf
projects/sgconf_xml/sgconf_xml
doc/xmlrpc-doc/book
doc/help/book
doc/help/help.pdf
